.SignInGit {
  background-color: #008BF8;
  border: 0;
  border-radius: 5px;
  color: white;
  display: block;
  width: 30rem;
  height: 6rem;
  margin: 0 auto;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 2rem;
}

.SignInGoogle {
  background-color: #008BF8;
  border: 0;
  border-radius: 5px;
  color: white;
  display: block;
  width: 30rem;
  height: 6rem;
  margin: 0 auto;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
}